.input {
  font-family: inherit;
  color: var(--text-primary);
  background-color: var(--bg-light);
  transition: all 0.2s ease-in-out;
}


.form-control:focus {
  border-color: var(--btn-secondary-active);
  box-shadow: 0 0 0 0.15rem var(--btn-neutral);
} 