.sidebar-nav {
    display: flex;
    position: fixed;
    top: 32px;
    left: 32px;
    width: 80px;
    height: calc(100vh - 32px);
    background-color: var(--nav-bg);
    border-radius: 27px 27px 0 0;
    padding: 24px 0;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    overflow: visible;
  }
  
  .nav-logo {
    width: 50px;
    height: auto;
    margin-bottom: 80px;
    /* filter: drop-shadow(0px 2px 1.2px rgba(0, 0, 0, 0.3)); */
  }
  
  .nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    margin-bottom: 32px;
    position: relative;
    overflow: visible;
    z-index: 1;
  }
  
  .material-symbols-outlined {
    font-size: 32px;
    color: var(--bg-dark);
    font-variation-settings: "FILL" 1;
  }
  
  .material-symbols-outlined:hover {
    color: var(--btn-primary);
  }
  
  .material-symbols-outlined:active {
    color: var(--btn-primary-active);
  }
  
  .hamburger-toggle {
    display: none;
  }
  
  .mobile-logo {
    display: none;
    width: 50px;
    height: auto;
    cursor: pointer;
    filter: drop-shadow(0px 2px 1.2px rgba(0, 0, 0, 0.3));
  }
  
  /* Mobile Styles */
  @media (max-width: 991px) {
    .mobile-logo {
      display: block;
    }
  
    .desktop-only {
      display: none;
    }
  
    .sidebar-nav {
      background-color: transparent;
      width: 100%;
      height: auto;
      left: 0;
      top: 0;
      border-radius: 0;
      padding: 16px;
      display: flex;
      align-items: flex-start;
    }
  
    .hamburger-toggle {
      display: block;
      border: none;
    }
  
    .nav-logo {
      margin-bottom: 24px;
    }
  
    .nav-icon {
      margin-bottom: 16px;
    }
  
    #sidebar-nav {
      text-align: center;
    }
  
    .show {
      background-color: var(--nav-bg);
      margin: 32px 0 0 -42px;
      padding: 19px 19px 19px 50px;
      border-radius: 0 16px 16px 0;
      animation: bounceInLeft 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
  
  .navbar-collapse {
    align-items: flex-start;
  }
  
  .nav-icon.active .material-symbols-outlined {
    position: relative;
    background-image: url("../../assets/Frame.svg");
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 2px 1.2px rgba(0, 0, 0, 0.3));
  }
  
  @keyframes bounceInLeft {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  
    20% {
      opacity: 1;
      transform: translate3d(8px, 0, 0);
    }
  
    40% {
      transform: translate3d(-4px, 0, 0);
    }
  
    60% {
      transform: translate3d(2px, 0, 0);
    }
  
    80% {
      transform: translate3d(-1px, 0, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes bounceOutLeft {
    from {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  
    20% {
      opacity: 1;
      transform: translate3d(8px, 0, 0);
    }
  
    to {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  .collapsing {
    background-color: var(--nav-bg);
    margin: 32px 0 0 -42px;
    padding: 19px 19px 19px 50px;
    border-radius: 0 16px 16px 0;
    animation: bounceInLeft 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .tooltip {
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--text-primary);
    color: var(--bg-light);
    padding: 8px 14px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 8px;
    white-space: nowrap;
    z-index: 10000;
    pointer-events: none;
    visibility: visible;
    opacity: 1;
  }
  
  .tooltip::before {
    content: '';
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(135, 135, 136) transparent transparent;
  }