
/* Theme colors may be updated as needed */
body.light {
  background-color: #fffaf8;
  color: #151315;
}

body.dark {
  background-color: #151315;
  color: #fffaf8;
}



@font-face {
  font-family: SF UI Display;
  src: url(https://v1.fontapi.ir/css/SFUIDisplay);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SF UI Display, -apple-system, Roboto, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffbf8;
  color: black;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


